@import '../../styles/typography';
@import "../../styles/colors";

.FullCard{
    margin-bottom: 10px;

    .Typography{
        font-family: $title-font;
        font-size: 33px;
        color: $mayan-blue;

    }

    .CardContent-Section{
        justify-content:center;

    .Tags-Section{
        display: flex;
        justify-content:space-between;
        padding-right: 250px;
        margin-bottom: 8px;
    }

    .Recipe-Description{
        text-align: justify;
        // min-height: 60px;
        // min-width: 80%;
    }

    }
}