@import '../../styles/typography';

.FullCard{
    margin-bottom: 8px;

    .Typography{
        font-family: 'Mayan';
    }

    .CardContent-Section{
        justify-content:flex-end;

    .Tags-Section{
        justify-items: right;
        margin-bottom: 8px;
    }

    .Recipe-Description{
        text-align: justify;
        min-height: 60px;
    }

    }
}