@import '../../styles/typography';

.FullCard{
    margin-bottom: 10px;

    .Typography{
        font-family: 'Mayan';
        font-size: 33px;

    }

    .CardContent-Section{
        justify-content:flex-end;

    .Tags-Section{
        justify-items: right;
        margin-bottom: 8px;
    }

    .Recipe-Description{
        text-align: justify;
        min-height: 60px;
        min-width: 80%;
    }

    }
}