.Main-Row-Container{
    display: flex;
    justify-content: center;
}

.General-Container{
    display: flex;
    flex-direction: row;
}

.Main-Image{
    width: 100%;
    justify-content: center !important;
    align-items: center;
}

.Donation-Invite{
    align-items: center;
}
.Paypal-QR, .QR-Container{
    justify-content: space-between;
    flex-direction: row !important;

}
.Paypal-Logo{
    text-align: center;
}


.Paypal-Logo-Container{
    width: 20%;
}


.QR-Container{
    align-items: center;
    width: 20%;
}

.Download-Button{
    justify-content: space-between;
}


QR-Code, .Paypal-Logo{
    display: flex;
}