@import "../../styles/colors";

.avatar-empty{
    color: $mexican-pink;
    width: 35px !important; 
}

.facebook-icon {
    color: $mexican-pink;   
  }

.avatar{
    border-radius: 50%;
    width: 35px;
    margin-left: 7px;
}

