@import "../../styles/colors";

.frameIngredientsTable {
  border: 1px $mayan-blue solid;
  box-shadow: $mayan-blue 1px 4px;
  width: 100%;
  padding: 10px;
}

.thinLine {
  border-bottom: 1px $mayan-blue solid;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.bin2 {
  color: $mexican-pink;
  cursor: pointer;
  padding: 0px !important;
}
