@import "../../styles/colors";

.frameIngredientsTable {
  border: 1px $mayan-blue solid;
  box-shadow: $mayan-blue 1px 3px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.thinLine {
  border-bottom: 1px $mayan-blue solid;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  padding-top: 11px !important;
}

.bin {
  color: $mexican-pink;
  cursor: pointer;
  padding: 0px !important;
}

.diners{
  display: flex;
  justify-content: center;
  
}

.people-blue {
  color: $mexican-pink;
  cursor: pointer;
  ;
}

.people-pink {
  color: $mayan-blue;
  cursor: pointer;
}

.diners-number{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin: 11px !important;
}