@import '../../styles/colors';
@import '../../styles/typography';

.mayan-blue{
    background-color: $mayan-blue !important;
    color: black !important;
    font-weight:500 !important;
}

.mexican-pink{
    background-color: $mexican-pink !important;
    color: rgb(245 245 245) !important;
    font-family: $title-font,Arial, Helvetica, sans-serif;
    width: 100%;
}

 
