@import '../../styles/typography';
@import '../../styles/colors';

.ingredients{
    display: flex;
    justify-content: center;
}

.ingredientTable{
    width: 45%;
}

.nutritionalTable{
    width: 44%;
}

.btnAddIngredient{
  border-color: $mexican-pink;
  font-size: 13px;
  font-weight:500;
  border-radius: 20px;
  background-color: $mexican-pink;
  width: 150px;
  height: 50px;
  margin-top: 8px;
}

.btnAddIngredient:hover {
  box-shadow: 0 0 2px 1px $mexican-pink;
}

.selectBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 75%;
}

.selectIngredient{
  width: 75%;
  border: $mexican-pink 1px solid;
}

.selectIngredient:hover{
  box-shadow: 0 0 2px 1px $mexican-pink;
}