@import "../../styles/typography";
@import "../../styles/colors";

body{
    background-color: rgb(245 245 245);
}

.msgBox{
    width: 70%;
}


.container{
    //border: 1px blue solid;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.row{
    //border: 1px red solid;
    display: flex;
    justify-content:center;
    width: 100% !important;
}


.sideLeft{
    //border: 1px rgb(89, 228, 128) solid;
    display: flex;
    flex-direction: column;
    //position: fixed;
    //top: 70px !important;
    //left: 457px;
    width: 23% !important;
    align-items: center;
    
    background-color: rgb(255 255 255);
    border-radius: 5px;
}

.sideRight{
    width: 60% !important;
    //border: 1px rgb(86, 21, 112) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    margin-left: 15px;
}

.btnCreateRecipe{
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    //margin-left: 25px;
}

.btnMyRecipe{
    background-color: $mexican-pink;
    border: 1px solid $mexican-pink;
    border-radius: 10px;
    height: 45px;
    width: 222px;
    color: white;
}

.cardBox{
    width: 90% !important;
    color: $mayan-blue;
    font-family: $title-font;
    text-align: center;
    margin-top: 10px;
}

.cardBox:hover {
    box-shadow: 0 0 2px 1px $mexican-pink;
  }

.cardImg, .cardText{
    cursor: pointer;
    border-radius: 10px !important;
}

.carousel{
    width: 100%;
}

@media (max-width: 1866px) {
    .sideLeft{
        //position: fixed;
        top: 65px;
        left: 400px;
    }
  }

@media (max-width: 1715px) {
.sideLeft{
    //position: fixed;
    top: 65px;
    left: 350px;
    }
} 

@media (max-width: 1588px) {
    .sideLeft{
        //position: fixed;
        top: 65px;
        left: 300px;
        }
    } 
@media (max-width: 1480px) {
    .sideLeft{
        //position: fixed;
        visibility: none;
        // top: 65px;
        // left: 280px;
        }
}     

@media (max-width: 1444px) {
    .sideLeft{
        //position: fixed;
        visibility: none;
        // top: 65px;
        // left: 230px;
        }
}