@import "../../styles/typography";
@import "../../styles/colors";

body{
    background-color: rgb(245 245 245);
}

.msgBox{
    width: 70%;
}


.homeContainer{
    border: 1px blue solid;
    margin-top: 63px !important;
    display: flex;
    justify-content: center;
}

.homeRow{
    border: 1px red solid;
    display: flex;
    justify-content:flex-start;
    width: 100% !important;
}


.sideLeft{
    border: 1px rgb(89, 228, 128) solid;
    position: fixed;
    top: 70px !important;
    left: 450px;
    
    background-color: rgb(255 255 255);
    border-radius: 5px;
}

.sideRight{
    width: 75% !important;
    border: 1px rgb(86, 21, 112) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: rgb(255 255 255);
    border-radius: 5px;
}

.btnCreateRecipe{
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    margin-left: 27px;
}

.homeCardBox{
    width: 90% !important;
    color: $mayan-blue;
    font-family: $title-font;
    text-align: center;
}

.homeCardBox:hover {
    box-shadow: 0 0 2px 1px $mexican-pink;
  }

.cardImg, .cardText{
    cursor: pointer;
}

.carousel{
    width: 72%;
}

@media (max-width: 1866px) {
    .sideLeft{
        position: fixed;
        top: 65px;
        left: 400px;
    }
  }

@media (max-width: 1715px) {
.sideLeft{
    position: fixed;
    top: 65px;
    left: 350px;
    }
} 

@media (max-width: 1588px) {
    .sideLeft{
        position: fixed;
        top: 65px;
        left: 300px;
        }
    } 
@media (max-width: 1480px) {
    .sideLeft{
        position: fixed;
        top: 65px;
        left: 280px;
        }
}     

@media (max-width: 1444px) {
    .sideLeft{
        position: fixed;
        top: 65px;
        left: 230px;
        }
} 