@import "../../styles/colors";
@import "../../styles/typography";

body {
  background-color: rgb(245 245 245) !important;
}

.containerDetail {
  //border: 1px blue solid;
  margin-top: 88px;
  display: flex;
  justify-content: center;
  width: 65% !important;
  margin-bottom: 100px;
}

.rowDetail {
  border-radius: 10px;
  //border: 1px red solid;
  display: flex;
  justify-content: center;
  width: 90% !important;
}

.mainDetail {
  //border: 1px black solid;
  background-color: rgb(255 255 255);
  border-radius: 10px;
  width: 65%;
  margin-bottom: 100px;
}

.detailRecipeTitle {
  color: $mayan-blue;
  font-family: $title-font;
  font-size: 40px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.detailGeneralBox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.detailSynopsis {
  margin-top: 15px;
  border: 1px $mayan-blue solid;
  border-radius: 8px;
  width: 630px;
  height: 150px;
  text-align: center;
  padding: 30px;
}

.detailUrlImage {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 65%;
  height: 100%px;
}

.detailFrameTables {
  width: 100%;
  height: 2150px;
}

.detailIngredientsTable {
  width: 50%;
}

.detailNutritionalTable {
  margin-top: 20px;
  width: 50%;
  //overflow-y: scroll;
}

.detailTitle{
  margin-top: 20px !important;
  margin-bottom: 20px;
}

.editor{
  padding-left: 40px !important;
}

.steps-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  border: 2px solid $mayan-blue;
  border-radius: 10px;
}

.steps-text:hover {
  box-shadow: 0 0 2px 1px $mexican-pink;
}

.detailExportBtn {
  border-color: $mexican-pink;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: $mexican-pink;
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
}

.detailPublishBtn {
  border-color: $mayan-blue;
  font-size: 13px !important;
  font-weight: 500 !important;
  border-radius: 5px;
  background-color: $mayan-blue !important;
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
  color: black !important;
}

.detailDeleteBtn {
  font-size: 13px !important;
  font-weight: 500 !important;
  border-radius: 5px;
  background-color: red !important;
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
  color: black !important;
}

.lineSteps {
  border-bottom: $mayan-blue 5px solid;
}

.detailButtons{
  display:flex;
  flex-direction: column;
  align-items: center;

}

.modal{
  font-family: $title-font;
  font-stretch:ultra-expanded;
  font-size: 25px;
  font-weight:700;
  color:  $mexican-pink !important;
}

.modal-button-delete{
  background-color: red !important;
  color:  white !important;
  font-size: 15px !important;
  font-weight:600 !important;
  font-family:Arial, Helvetica, sans-serif
}