@import '../../styles/colors';
@import '../../styles/typography';

// *{
//     border: rgb(255, 102, 0) 1px dashed;
// }

.mt-nav{
    margin-top: 2em;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

hr.solid {
    border-top: 3px solid #bbb;
  }

.scroll{
    height:500px;
    overflow-y: scroll;
  }

.title{
    display: flex;
    justify-content:center;
    width: 100%;
    color: $mayan-blue;
}

img{
    justify-content:center;
}
.container{
    
    margin-top: 65px;
    display: flex;
}

.row{
    
    display: flex;
    justify-content:flex-end;
    width: 100%;
}

.step{
    font-weight: bold;
}


.pink-button{
    border-color: $mexican-pink;
    font-size: 13px;
    font-weight:500;
    border-radius: 5px;
    background-color: $mexican-pink;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }