@import "../../styles/colors";
@import "../../styles/typography";

body {
  background-color: rgb(245 245 245) !important;
}

.containerPreview {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 100px;
}

.rowPreview {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.mainPreview {
  background-color: rgb(255 255 255);
  border-radius: 10px;
  width: 65%;
  margin-bottom: 100px;
}

.previewRecipeTitle {
  color: $mayan-blue;
  font-family: $title-font;
  font-size: 40px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.previewTags{
  display: flex;
  justify-content: center;
  margin:10px 0 10px 0;
}
.previewGeneralBox {
  margin-top: 5px;
  margin-bottom: 20px;
}


.previewSynopsis {
  margin-right: 15px;
  border: 1px $mayan-blue solid;
  border-radius: 8px;
  width: 200px;
  height: 300px;
  text-align: center;
  padding: 25px;
  font-size: 11px;
}

.previewImage {
  width: 900px !important;
  border-radius: 15px;
  //height: 500px !important;
}

.previewUrlImage {
  margin-top: 15px;
  margin-bottom: 35px;
  width: 100%;
  border-radius: 15px;
  //height: 100%;
}

.previewFrameTables {
  //border: 1px black solid;  
  margin-top:23px !important; 
  margin-bottom: 5px; 
  display: flex;
  //flex-direction: column;
  justify-content: center;
  width: 100% !important;
  //height: 2460px;
}

.previewIngredientsTable {
  //border: 1px rgb(114, 44, 44) solid;
  width: 30% !important;
  //margin-left: 200px;
}

.previewNutritionalTable {
  //border: 1px rgb(0, 0, 0) solid;  
  //margin-top: 60px !important;
  width: 40% !important;
  //overflow-y: scroll;
}

.previewTitle {
  margin-top: 20px !important;
  margin-bottom: 20px;
}

.previewEditor {
  padding-left: 40px !important;
}

.previewExportBtn {
  border-color: $mexican-pink;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: $mexican-pink;
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
}

.lineSteps {
  border-bottom: $mayan-blue 5px solid;
}

.previewButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
