@import '../../styles/typography';

body{
    background-color: rgb(245 245 245);
}

.containerCreate{
    border: 1px black solid;
    margin-top: 55px;
    display: flex;
}

.rowCreate{
    border: 1px black solid;
    display: flex;
    justify-content:center;
    width: 100%;
}

.mainCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    width: 70%;
}

.newRecipeTitle{
    font-family: $title-font;
    font-size: 32px;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }

  .thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }