@import "../../styles/typography";
@import "../../styles/colors";

body {
  background-color: rgb(245 245 245);
}

.containerCreate {
  margin-top: 55px;
  display: flex;
}

.rowCreate {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 255 255);
  border-radius: 5px;
  width: 77%;
}

.newRecipeTitle {
  font-family: $title-font;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 45px;
  width: 100%;
  text-align: center;
}

.textbox {
  width: 100%;
  height: 150px;
}

.center {
  text-align: center;
}

.ingredients {
  display: flex;
  justify-content: center;
}

.boxCalculator {
  margin-top: 45px;
  margin-bottom: 25px;
  padding-top: 10px;
  height: 700px;
  width: 100%;
  border: 1px solid #ddd;
  background: rgb(245 245 245);
  overflow-y: scroll;
  border-radius: 5px;
}

h2{
  font-family: $title-font;
  text-align: center;
  font-weight: 800;
}

.add-step-box{
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pink-button{
  border-color: $mexican-pink;
  font-size: 13px;
  font-weight:500;
  border-radius: 5px;
  background-color: $mexican-pink;
  width: 100%;
  height: 100%;
}

.publish{
  border-color: $mayan-blue;
  font-size: 13px;
  font-weight:500;
  border-radius: 5px;
  background-color: $mayan-blue;
  width: 100%;
  height: 100%;
}