@import '../../styles/colors';

.AddImage-Section{
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: row;
    border: 0.5px solid #8d8d8d;
    border-radius: 5px;
    justify-content: space-between;


    .Search-Delete-Section{
        justify-content: center;
        border: none;

        .Delete-Button-Container{
            justify-content: center;
            align-items: center;
        }
        
    }
    .Image-Container{
        justify-content: center;
        align-items: center;
        max-height: 220px;
        border: none;

    
    }

}
