@import '../../styles/colors';

.frameNutFactTable{
    border:1px $mayan-blue solid;
    width: 400px !important;
    box-shadow: $mayan-blue 5px 10px;  
    padding: 10px;
}

.titleTable{
    font-size: 30px;
}

.thickLine{
    border-bottom: black 15px solid;
}

.mediumLine{
    border-bottom: black 8px solid;
}

.nutTable{
    width: 100%;
}

.center{
    text-align: center;
}