.container{
    border:1px black solid;
    width: 400px !important;
  
}

.titleTable{
    font-size: 30px;
}

.thickLine{
    border-bottom: black 15px solid;
}

.mediumLine{
    border-bottom: black 8px solid;
}


.nutTable{
    width: 100%;
}