@import "../../styles/colors";

.frameNutFactTable {
  border: 1px $mayan-blue solid;
  width: 100%;
  box-shadow: $mayan-blue 4px 9px;
  padding: 10px;
}

.titleTable {
  font-size: 25px;
  font-weight: 790;
}

.thickLine {
  border-bottom: black 13px solid;
}

.mediumLine {
  border-bottom: black 8px solid;
}

.nutTable {
  width: 100%;
}

.center {
  text-align: center;
}
