@import "../../styles/colors";


.modalBox{
    text-align:center
}

.donationButton{
    align-self: center;
}

.modal-button-donate{
    font-family: Roboto, sans-serif;
    background-color: $mexican-pink !important;
    border: 1px solid $mexican-pink !important;
}