@import "../../styles/typography";
@import "../../styles/colors";

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.messageBox {
  display: flex;
  flex-direction: column;
  width: 40%;
  //border: 1px solid red;
  position: absolute;
  top: 33%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-family: $title-font;
}

.m-404 {
  font-size: 50px;
  font-weight: 800;
  font-family: $title-font;
  color: $mexican-pink;
}

.userMessage {
  font-size: 50px;
  font-family: $title-font;
  color: $mayan-blue;
}

.linkToHome {
  margin-top: 30px;
  font-size: 25px;
  font-family: $title-font;
  color: $mexican-pink;
}

.linkToMyRecipe {
  margin-top: 30px;
  font-size: 25px;
  font-family: $title-font;
  color: $mayan-blue;
}
