@import '../../styles/colors';

.frameIngredientsTable{
    border:2px $mayan-blue solid;
    box-shadow: $mayan-blue 5px 10px; 
    width: 500px !important; 
    padding: 10px;
}

.thinLine{
    border-bottom: 2px $mayan-blue solid ;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.selectPortion{
     background-color: #0dcaf0 !important;
     width: 90% !important;
     height: 35px !important;
     padding: 0% !important;
     margin: 0% !important;
}

.bin{
    color: $mexican-pink;
    cursor: pointer;
    padding: 0px !important;
}